@font-face {
  font-family: Pitagon Sans Mono;
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-400-normal.woff2)
      format(woff2),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-400-normal.woff)
      format(woff);
}

@font-face {
  font-family: Pitagon Sans Mono;
  font-style: normal;
  font-display: auto;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-500-normal.woff2)
      format(woff2),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-500-normal.woff)
      format(woff);
}

@font-face {
  font-family: Pitagon Sans Mono;
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-600-normal.woff2)
      format(woff2),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-600-normal.woff)
      format(woff);
}

@font-face {
  font-family: Pitagon Sans Mono;
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-700-normal.woff2)
      format(woff2),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-700-normal.woff)
      format(woff);
}

@font-face {
  font-family: Pitagon Sans Mono;
  font-style: normal;
  font-display: auto;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-800-normal.woff2)
      format(woff2),
    url(https://cdn.jsdelivr.net/fontsource/fonts/pitagon-sans-mono@latest/latin-800-normal.woff)
      format(woff);
}

* {
  font-family: Pitagon Sans Mono, monospace !important;
  letter-spacing: -0.01em !important;
}
