body,
.markdown-body {
  font-family: Merriweather Sans, monospace !important;
}

pre,
code,
.blob-code,
.blob-code-content,
.blob-code-marker,
.react-code-text {
  font-family: monospace !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
